body{
  background: black;
  color:white;
}
.error_msg { color:red; }
.success_msg {color:green;}
.footer { margin:50px;text-align: center;font-size: 14px; color:#8c8c8c; }
.footer a {color:#5d85d5;text-decoration: none;}
.footer a:hover{text-decoration: none;color:#25488e;}